body {
    max-width: 800px;
    height: auto;
    font-family: 'Rubik';
    margin: auto;
    box-shadow: -1px 1px 21px -1px rgba(0, 0, 0, 0.2);
    direction: rtl;

}

header {
    display: flex;
    justify-content: center;
    margin-top: 48px;

}

img {
    object-fit: contain;
}

header img {
    margin-top: 24px;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 32px 0;
    padding: 0;
    overflow: hidden;

}


li a {
    display: block;
    border: 3px solid rgba(9, 173, 199, 0.5);
    min-width: 150px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

li:nth-child(2) {
    margin: 0 12px;
}

li a:hover {
    background-color: rgba(9, 173, 199, 0.5);
    text-decoration: none;

}

h1 {
    font-size: 40px;
    rotate: 10deg;
    text-align: right;
    font-weight: 800;

}




h2 {
    margin: 0 0 8px 0;
    font-size: 24px;

}

h3 {

    display: inline-block;
    font-size: 22px;
    font-weight: 800;
    color: #FF80A7;
    text-shadow:
        2px 2px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    margin: 0 16px;
}

#winner h3 {
    color: #000;
    text-shadow: none;
    background-color: rgba(9, 173, 199, 0.5);
    padding: 4px 8px;
    font-weight: 500;
    margin-top: -10px;


}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro p {
    max-width: 500px;
    text-align: center;

    margin: 0 0 20px 0;
}

.table {
    margin: 40px 0;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
}

.cellStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;




}

#r1c3, #r2c3, #r1c2, #r2c2 {
    border-right: solid 2px #FF80A7;
    border-bottom: solid 2px #FF80A7;
}

#r2c1, #r1c1 {
    border-bottom: solid 2px #FF80A7;
}

#r3c2 {

    border-right: solid 2px #FF80A7;
}

#r3c3 {

    border-right: solid 2px #FF80A7;
}

p {
    font-size: 16px;
    line-height: 1.4em;
    margin: 16px 0;

}


a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#about {
    padding: 0 80px;

}

.development {
    margin-top: 56px;
}

.information {

    margin: 0 32px 0 0;

}

.flex {
    display: flex;
}

.links {
    flex-wrap: wrap;
    align-items: center;

}

.link {
    min-width: 220px;
    margin-top: -12px;

}

.icon {
    margin-left: 8px;
}

.mentor {
    margin-top: 40px;
    background-image: linear-gradient(#fff 25%, rgba(9, 173, 199, 0.5) 25%);
    padding: 0 80px;
    display: flex;
}

.mentor .information {
    align-self: flex-end;
}


.mentor .information a {
    font-weight: 600;


}

input[type="text"i] {
    padding: 10px;
    max-width: 150px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
    border: solid 2px rgba(0, 0, 0, 1);
    font-size: 20px;
    text-align: center;

}

input[type="submit"i] {
    padding: 10px;
    margin-right: 8px;
}

::placeholder {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;

}

#winner {
    margin-bottom: 24px;
}

#footer {
    font-size: 14px;
    padding: 8px;
    text-align: center;

}